.*.swp
*~

__pycache__
*.pyc
*.db
.python-version

*.xml.old
*.log
*.log.20[0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*.xml
!conf.xml
!test/*.xml
newlist/
html/
cookie.txt
start_idx.txt
logs/
.htaccess
.htpasswd
www/jquery*
www/work
result.*.temp
.*login*
cookies*.json
*.lock
.*.lock
